{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://github.com/techyyash/"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/yash-gupta-03573a119/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        <li><a href="https://instagram.com"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>

        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://github.com/techyyash/" target="_blank">Yash Gupta</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->
